body {
	width: 90%;
	max-width: 1000px;
	margin: 0px auto;
}

h1 {
	font-size: 24px;
	color: black;
}

table, th, td {
	border: solid 1px #666;
	border-collapse: collapse;
	width: 80%;
}

th, td {
  padding: 5px;
}

th {
	text-align: left;
}

.unchanged {
	color: black;
}
.better {
	color: green;
}
.worse {
	color: red;
}
